<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:33</td>   <td>20659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.chatTest()[pri:1, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">chatTest</td> 
  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:34</td>   <td>20905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:34</td>   <td>21825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:42</td>   <td>29825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.saveNoteTest()[pri:2, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">saveNoteTest</td> 
  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:45</td>   <td>32048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:45</td>   <td>32855</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:55</td>   <td>42071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.videoCallTest()[pri:2, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">videoCallTest</td> 
  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:57</td>   <td>44099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:58:58</td>   <td>44987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:59:05</td>   <td>52616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.saveProfileTest()[pri:3, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">saveProfileTest</td> 
  <td>main@1765250898</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>18/10/02 17:59:07</td>   <td>54641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.acq.qa.testcases.HomePageTest@481a15ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1765250898</td>   <td></td> </tr>
</table>
