<h2>Methods that were not run</h2><table>
<tr><td>com.acq.qa.testcases.HomePageTest.chatTest</td></tr>
<tr><td>com.acq.qa.testcases.HomePageTest.saveNoteTest</td></tr>
<tr><td>com.acq.qa.testcases.HomePageTest.saveProfileTest</td></tr>
</table>