<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afbdb5">  <td>19/01/24 13:00:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.acq.qa.testcases.HomePageTest@4516af24]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1089504328</td>   <td></td> </tr>
<tr bgcolor="afbdb5">  <td>19/01/24 13:01:31</td>   <td>48555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.acq.qa.testcases.HomePageTest@4516af24]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1089504328</td>   <td></td> </tr>
<tr bgcolor="afbdb5">  <td>19/01/24 13:00:47</td>   <td>4767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.videoCallTest()[pri:2, instance:com.acq.qa.testcases.HomePageTest@4516af24]">videoCallTest</td> 
  <td>main@1089504328</td>   <td></td> </tr>
</table>
